@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li
{
    list-style: none;
    margin-left: 20px;
}

#header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

#header ul li a.active,
#header ul li a:hover
{
    background: linear-gradient(to right,rgb(8, 94, 223), rgb(68, 111, 190));
    color: #fff;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Assest/header.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
section .image-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
section .image-container h1{
    color: rgba(255, 255, 255, 0.381);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    letter-spacing: 25px;
    mix-blend-mode:screen;
}
section .image-container h3{
    color: rgba(255, 255, 255, 0.637);
    position: absolute;
    top: 8%;
    left: 50px;
    font-size: 2.5em;
    cursor: pointer;
}
section .image-container h3::after{
    content: '';
    position: relative;
    cursor: pointer;
    display: block;
    width: 20%;
    height: 2px;
    background-color: white;
    transition: all 0.6s ease-in-out;
}
.container{
    width: 100%;
    position: relative;
    display: flex;
}
section .image-container h3:hover::after{
    width: 120%;
}
.container{
    position: relative;
    width: 85%;
    height: 400px;
    background: url("../Assest/sky.jpg") no-repeat center;
    background-size: cover;
    margin: 30px 100px;
}
.inside-container{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.759);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inside-container h1{
    margin-left: 110px;
    width: 40%;
    font-weight: 500;
}
.inside-container h1::after{
    display: block;
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    background-color: white;
}
.inside-container p{
    width: 80%;
    align-self: center;
}

.facts-container h1{
    margin: 50px 100px;
    font-size: 3em;
    color: rgb(8, 65, 170);
}
.points{
    position: relative;
    margin: 30px 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.point1, .point2{
    background: linear-gradient(-45deg, rgb(62, 186, 218) 13%, rgb(82, 178, 223) 52%, rgba(23, 115, 165, 0.836) 100%);
    color: black;
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 6px gray;
}
.points p{
    font-size: 0.9em;
}
.point1{
    grid-column: 1 / 3;
}
h1.yt{
    font-size: 3em;
    margin: 40px 100px;
    color: rgb(6, 53, 141);
}
.youtube-section{
    display: flex;
    position: relative;
    margin: 30px 100px;
}
.video1{
    margin: 60px 50px;
}
.video1 img{
    width: 40%;
}
.video1 h3{
    font-size: 10px;
    width: 40%;
}
.video1 p{
    font-size: 10px;
    color: rgb(83, 80, 80);
}

.select-video{
    position: relative;
    top: 30px;
    overflow-y: hidden;
    height: 280px;
}

.arrow .fa-angle-up{
    position: absolute;
    top: -10px;
    left: 63%;
    font-size: 2em;
}
.arrow .fa-angle-down{
    position: absolute;
    bottom: -20px;
    left: 63%;
    font-size: 2em;
}
.specifications table{
    border-collapse: collapse;
    margin: 30px 100px;
    width: 70%;
}
.specifications table tr th{
    padding: 20px;
}
.specifications table tr td{
    text-align: center;
}
.specifications table tr:nth-of-type(odd){
    background-color: rgb(194, 182, 182);
}
.specifications table tr:nth-of-type(even){
    background-color: rgb(235, 224, 224);
}
.specifications table span{
    color: rgb(24, 92, 138);
    cursor: pointer;
}

.form-section{
    position: relative;
    background: url("../Assest/form2.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.667);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form h2{
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: white;
}
.form input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form input::placeholder{
    color: white;
}
.form input[type="submit"]{
    background: white;
    color: gray;
    max-width: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}
.forget{
    margin-top: 5px;
    color: white;
}
.forget a{
    color: white;
    font-weight: 600;
    transition: color 0.5s ease-in-out;
}
.forget a:hover{
    color: rgb(50, 126, 241);
}
.form input[name="query"]{
    height: 100px;
    border-radius: 10px;
}

footer{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgb(54, 52, 52);
    background: rgb(114, 158, 240);
    background-size: cover;
    color: white;
}
.logo{
    font-size: 16px;
    position: relative;
    padding: 30px;
}

.logo h1::after{
    content: '';
    position: absolute;
    display: block;
    left: 30px;
    width: 50px;
    height: 2px;
    background-color: rgb(45, 111, 233);
}
.quick-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quick-links a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}
.quick-links a::after{
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}
.quick-links a:hover::after{
    width: 100%;
}
.quick-links a:hover{
    color: rgb(45, 111, 233);
}
.copyrights{
    position: absolute;
    bottom: 0;
    background-color: gray;
    width: 100%;
    padding: 10px;
}
.copyrights p{
    text-align: center;
}
.social-media{
    position: relative;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
}
.social-media a{
    margin-left: 45px;
    font-size: 25px;
    text-decoration: none;
    background:rgb(45, 111, 233);
    padding: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease-in-out ;
}
.social-media a:hover{
    color: rgb(45, 111, 233);
    background-color: white;
    border-radius: 8px;
}

.image-gallery{
    width: 100%;
    height: auto;
    display: flex;
}
.column1{
    flex: 30%;
}
.column1 img{
    width: 100%;
    height: auto;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.column1 img:hover{
    filter: grayscale(7);
    cursor: pointer;
}